# TRANSFORMACIÓN DE DATOS

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import Binarizer

from sklearn.preprocessing import MinMaxScaler


#Automcompletar rápido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

1.- Sustituir la ruta del proyecto.

In [2]:
ruta_proyecto = ruta_proyecto = r'C:\Users\iagzg\Desktop\D4FB\D4FB\EstructuraDirectorio\03_MACHINE_LEARNING\06-MACHINE LEARNING PROJECT FRAMEWORK\CASOS\04_BANK\\'

2.- Nombrar los ficheros de datos.

In [3]:
nombre_cat = 'cat_resultado_eda.pickle'
nombre_num = 'num_resultado_eda.pickle'

3.- Cargar los datos.

In [4]:
cat = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_cat).reset_index(drop = True)
num = pd.read_pickle(ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_num).reset_index(drop = True)

4.- Separar la target.

In [5]:
cat['y'] = np.where(cat['y'] == 'yes',1,0)
cat

,trabajo,estado,educacion,prestamo_hipotecario,prestamo_personal,canal_contacto,mes,dia_semana,resultado_campana_anterior,y
0,services,married,high.school,no,no,telephone,may,mon,nonexistent,0
1,admin.,married,basic.6y,no,no,telephone,may,mon,nonexistent,0
2,admin.,married,professional.course,no,no,telephone,may,mon,nonexistent,0
3,services,single,high.school,yes,no,telephone,may,mon,nonexistent,0
4,blue-collar,married,unknown,no,no,telephone,may,mon,nonexistent,0
...,...,...,...,...,...,...,...,...,...,...
25621,admin.,married,university.degree,no,no,cellular,nov,fri,nonexistent,0
25622,admin.,married,university.degree,yes,no,cellular,nov,fri,nonexistent,1
25623,blue-collar,married,professional.course,no,no,cellular,nov,fri,nonexistent,0
25624,technician,married,professional.course,no,no,cellular,nov,fri,nonexistent,1
25625,retired,married,professional.course,yes,no,cellular,nov,fri,failure,0

In [6]:
target = cat[['y']].copy().reset_index(drop=True)

## TRANSFORMACIÓN DE CATEGÓRICAS

### One Hot Encoding

#### Variables a aplicar OHE

In [7]:
var_ohe = ['trabajo','estado','prestamo_hipotecario','prestamo_personal','canal_contacto','mes','dia_semana']

#### Instanciar

In [8]:
ohe = OneHotEncoder(sparse_output= False, handle_unknown='ignore')

#### Entrenar y aplicar

In [9]:
cat_ohe = ohe.fit_transform(cat[var_ohe])

#### Guardar como dataframe

In [10]:
cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out())

In [11]:
cat_ohe

,trabajo_admin.,trabajo_blue-collar,trabajo_entrepreneur,trabajo_housemaid,trabajo_management,trabajo_retired,trabajo_self-employed,trabajo_services,trabajo_student,trabajo_technician,...,mes_mar,mes_may,mes_nov,mes_oct,mes_sep,dia_semana_fri,dia_semana_mon,dia_semana_thu,dia_semana_tue,dia_semana_wed
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25621,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25622,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25623,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25625,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

### Ordinal Encoding

#### Variables a aplicar OE

In [12]:
var_oe = ['educacion','resultado_campana_anterior']

#### Orden de los valores de las variables

In [13]:
#Orden de la primera variable
orden_formacion = ['NULO','illiterate','basic.4y','basic.6y','basic.9y','high.school','professional.course','university.degree']

#Orden de la segunda variable
orden_resultado_campana_anterior = ['nonexistent','failure','success']

#### Instanciar

In [14]:
oe = OrdinalEncoder(categories = [orden_formacion,orden_resultado_campana_anterior],
                    handle_unknown = 'use_encoded_value',
                    unknown_value = 10)

#### Entrenar y aplicar

In [15]:
cat_oe = oe.fit_transform(cat[var_oe])

#### Guardar como dataframe

In [16]:
#Añadir sufijos a los nombres
nombres_oe = [variable + '_oe' for variable in var_oe]

#Guardar como dataframe
cat_oe = pd.DataFrame(cat_oe, columns = nombres_oe)

## TRANSFORMACIÓN DE NUMÉRICAS

### Discretizar variables

#### Mediante distancia similar

##### Variables a discretizar mediante distancia similar

In [17]:
num

,edad,num_contactos_esta_semana,num_contactos_otras_campañas,variacion_tasa_empleo,euribor3m
0,57,1,0,1.1,4.857
1,40,1,0,1.1,4.857
2,59,1,0,1.1,4.857
3,25,1,0,1.1,4.857
4,41,1,0,1.1,4.857
...,...,...,...,...,...
25621,36,2,0,-1.1,1.028
25622,37,1,0,-1.1,1.028
25623,46,1,0,-1.1,1.028
25624,44,1,0,-1.1,1.028
25625,74,3,1,-1.1,1.028

In [18]:
var_disc_ds = ['edad']

##### Instanciar

In [19]:
disc_ds = KBinsDiscretizer(n_bins = 6, strategy = 'uniform', encode = 'ordinal')

##### Entrenar y aplicar

In [20]:
num_disc_ds = disc_ds.fit_transform(num[var_disc_ds])

C:\Users\iagzg\miniconda3\envs\riesgos\Lib\site-packages\sklearn\preprocessing\_discretization.py:248: FutureWarning: In version 1.5 onwards, subsample=200_000 will be used by default. Set subsample explicitly to silence this warning in the mean time. Set subsample=None to disable subsampling explicitly.
  warnings.warn(

##### Guardar como dataframe

In [21]:
#Añadir sufijos a los nombres
nombres_ds = [variable + '_disc_ds' for variable in var_disc_ds]

#Guardar como dataframe
num_disc_ds = pd.DataFrame(num_disc_ds,columns = nombres_ds)

In [22]:
num_disc_ds

       edad_disc_ds
0               3.0
1               2.0
2               3.0
3               0.0
4               2.0
...             ...
25621           1.0
25622           1.0
25623           2.0
25624           2.0
25625           5.0

[25626 rows x 1 columns]

### Binarizar variables

#### Variables a binarizar

In [23]:
var_bin = ['variacion_tasa_empleo']

#### Instanciar

In [24]:
bin = Binarizer(threshold=0)

#### Entrenar y aplicar

In [25]:
num_bin = bin.fit_transform(num[var_bin])

#### Guardar como dataframe

In [26]:
#Añadir sufijos a los nombres
nombres_bin = [variable + '_bin' for variable in var_bin]

#Guardar como dataframe
num_bin = pd.DataFrame(num_bin,columns = nombres_bin)

## UNIFICAR DATASETS TRANSFORMADOS

### Meter en una lista todos los dataframes generados

In [27]:
dataframes = []
dataframes.extend(value for name, value in locals().items() if name.startswith('cat_') or name.startswith('num_'))

### Unir todos los dataframes

In [28]:
df = pd.concat(dataframes, axis = 1)

In [29]:
df

,trabajo_admin.,trabajo_blue-collar,trabajo_entrepreneur,trabajo_housemaid,trabajo_management,trabajo_retired,trabajo_self-employed,trabajo_services,trabajo_student,trabajo_technician,...,mes_sep,dia_semana_fri,dia_semana_mon,dia_semana_thu,dia_semana_tue,dia_semana_wed,educacion_oe,resultado_campana_anterior_oe,edad_disc_ds,variacion_tasa_empleo_bin
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,3.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,2.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,6.0,0.0,3.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,10.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25621,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,0.0
25622,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,0.0
25623,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0
25624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0
25625,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,6.0,1.0,5.0,0.0

## REESCALAR VARIABLES

### Con Min-Max

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25626 entries, 0 to 25625
Data columns (total 41 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   trabajo_admin.                 25626 non-null  float64
 1   trabajo_blue-collar            25626 non-null  float64
 2   trabajo_entrepreneur           25626 non-null  float64
 3   trabajo_housemaid              25626 non-null  float64
 4   trabajo_management             25626 non-null  float64
 5   trabajo_retired                25626 non-null  float64
 6   trabajo_self-employed          25626 non-null  float64
 7   trabajo_services               25626 non-null  float64
 8   trabajo_student                25626 non-null  float64
 9   trabajo_technician             25626 non-null  float64
 10  trabajo_unemployed             25626 non-null  float64
 11  trabajo_unknown                25626 non-null  float64
 12  estado_divorced                25626 non-null  float64
 13  estado_married                 25626 non-null  float64
 14  estado_single                  25626 non-null  float64
 15  estado_unknown                 25626 non-null  float64
 16  prestamo_hipotecario_no        25626 non-null  float64
 17  prestamo_hipotecario_yes       25626 non-null  float64
 18  prestamo_personal_no           25626 non-null  float64
 19  prestamo_personal_yes          25626 non-null  float64
 20  canal_contacto_cellular        25626 non-null  float64
 21  canal_contacto_telephone       25626 non-null  float64
 22  mes_apr                        25626 non-null  float64
 23  mes_aug                        25626 non-null  float64
 24  mes_dec                        25626 non-null  float64
 25  mes_jul                        25626 non-null  float64
 26  mes_jun                        25626 non-null  float64
 27  mes_mar                        25626 non-null  float64
 28  mes_may                        25626 non-null  float64
 29  mes_nov                        25626 non-null  float64
 30  mes_oct                        25626 non-null  float64
 31  mes_sep                        25626 non-null  float64
 32  dia_semana_fri                 25626 non-null  float64
 33  dia_semana_mon                 25626 non-null  float64
 34  dia_semana_thu                 25626 non-null  float64
 35  dia_semana_tue                 25626 non-null  float64
 36  dia_semana_wed                 25626 non-null  float64
 37  educacion_oe                   25626 non-null  float64
 38  resultado_campana_anterior_oe  25626 non-null  float64
 39  edad_disc_ds                   25626 non-null  float64
 40  variacion_tasa_empleo_bin      25626 non-null  float64
dtypes: float64(41)
memory usage: 8.0 MB

#### Variables a reescalar con Min-Max

In [31]:
var_mms = df.iloc[:,37:].columns

#### Instanciar

In [32]:
mms = MinMaxScaler()

#### Entrenar y aplicar

In [33]:
df_mms = mms.fit_transform(df[var_mms])

In [34]:
#Retiramos las variables reescaladas del df original
df = df.drop(columns = var_mms)

#### Guardar como dataframe

In [35]:
#Añadir sufijos a los nombres
nombres_mms = [variable + '_mms' for variable in var_mms]

#Guardar como dataframe
df_mms = pd.DataFrame(df_mms,columns = nombres_mms)

## UNIFICAR DATASETS REESCALADOS

### Crear una lista con los dataframes a incluir en el tablón analítico

In [36]:
incluir = [df, df_mms,target]

### Unir todos los dataframes en el tablón analítico

In [37]:
df_tablon = pd.concat(incluir, axis = 1)

In [38]:
df_tablon

,trabajo_admin.,trabajo_blue-collar,trabajo_entrepreneur,trabajo_housemaid,trabajo_management,trabajo_retired,trabajo_self-employed,trabajo_services,trabajo_student,trabajo_technician,...,dia_semana_fri,dia_semana_mon,dia_semana_thu,dia_semana_tue,dia_semana_wed,educacion_oe_mms,resultado_campana_anterior_oe_mms,edad_disc_ds_mms,variacion_tasa_empleo_bin_mms,y
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.444444,0.0,0.6,1.0,0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.222222,0.0,0.4,1.0,0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.555556,0.0,0.6,1.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.444444,0.0,0.0,1.0,0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.000000,0.0,0.4,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25621,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.2,0.0,0
25622,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.666667,0.0,0.2,0.0,1
25623,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.555556,0.0,0.4,0.0,0
25624,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.555556,0.0,0.4,0.0,1
25625,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.555556,1.0,1.0,0.0,0

## GUARDAR DATASET TRAS TRANSFORMACIÓN DE DATOS

En formato pickle para no perder las modificaciones de metadatos.

In [39]:
#Definir los nombres del archivo
ruta_df_tablon = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'df_tablon.pickle'

In [40]:
#Guardar los archivos
df_tablon.to_pickle(ruta_df_tablon)